* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

*, *:before, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: #181717;
  --secondary-color: #494949;
  --text-color:#515151;
}

body {
  background: #cfcfcf;
  background-size: cover;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  z-index: 0;
}

#check {
  display: none;
}

label {
  display: none;
}

.navbar .nav {
  width: 100%;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  top: 0;
  list-style: none;
  z-index: 100;
}

.navbar .nav a {
  text-decoration: none;
  color: #d8d8d8;
  font-size: 2.5vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .nav a:hover {
  color: white;
}

@supports ((-webkit-backdrop-filter: blur(9px)) or (backdrop-filter: blur(9px))) {
  .navbar .nav {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
  }
  .navbar .nav a {
    color: var(--secondary-color);
  }
}

.hero .container img {
  width: 100%;
  z-index: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .container video {
  width: 100%;
  z-index: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .logo-scritta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vw;
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 6vw;
}

.hero .logo-scritta img {
  z-index: auto;
  height: 10vw;
}

.hero .icons-top {
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
      grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  top: 11.5vw;
  z-index: 0;
}

.hero .icons-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .icons-top svg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2vw;
  z-index: auto;
}

.blur-div {
  color: #1817175b;
  height: 12vw;
  width: 100%;
  position: relative;
  z-index: 0;
  top: -3vw;
}

@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .blur-div {
    color: #181717;
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
  }
}

.bio {
  top: -11vw;
  position: relative;
  z-index: 10;
  width: 100%;
  margin-bottom: 2vw;
}

.bio h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 3vw;
  font-weight: normal;
}

.bio p {
  z-index: 1;
  font-size: 1.7vw;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5vw;
  margin-bottom: 2vw;
  text-align: center;
}

.divisore1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5%;
  position: relative;
  top: -13vw;
  margin-bottom: -13vw;
}

.divisore1 img {
  z-index: auto;
  width: 100%;
  padding: 5%;
  z-index: 0;
}

.videos h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 3vw;
  font-weight: normal;
  padding-bottom: 5.2vw;
}

.videos .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videos .frame iframe {
  height: 35vw;
  width: 66.7vw;
}

.videos p {
  z-index: 1;
  font-size: 1.7vw;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4.7vw;
  text-align: center;
}

.divisore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5%;
}

.divisore img {
  z-index: auto;
  width: 100%;
  padding: 5%;
  z-index: 0;
}

.dates {
  padding-left: 8%;
  padding-right: 8%;
}

.dates h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 3vw;
  font-weight: normal;
  padding-bottom: 5.2vw;
}

.dates .bit {
  width: auto;
  height: auto;
  font-size: 0px;
}

.store {
  padding-left: 8%;
  padding-right: 8%;
}

.store h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 3vw;
  font-weight: normal;
  padding-bottom: 5.2vw;
}

.store .ecwid {
  background-color: #181717;
  padding: 50px;
  font-size: 0.7vw;
}

.store .insotre {
  max-height: 600px;
}

.contact h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 3vw;
  font-weight: normal;
  padding-bottom: 0px;
}

.contact .buttons-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.contact .buttons-cont .band, .contact .buttons-cont .booking, .contact .buttons-cont .epk {
  width: 25vw;
  height: 5vw;
  border: none;
  background-color: #515151;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact .buttons-cont .band p, .contact .buttons-cont .booking p, .contact .buttons-cont .epk p {
  font-size: 2vw;
  color: #EFEFEF;
}

.contact .buttons-cont .band:hover, .contact .buttons-cont .booking:hover, .contact .buttons-cont .epk:hover {
  background-color: black;
  cursor: pointer;
}

.icons-bot {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
      grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1%;
  z-index: 0;
}

.icons-bot a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-bot svg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2vw;
  z-index: auto;
}

.footer {
  background-color: #dbdbdb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8vw;
}

@media (max-width: 970px) {
  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  label #btn, label #cancel {
    position: absolute;
    position: fixed;
    cursor: pointer;
    top: 1vh;
    right: 1vw;
    z-index: 50;
    border: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  label #btn {
    color: #181717;
    padding: 0.5vw;
    font-size: 5vw;
  }
  label #cancel {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
    color: #cfcfcf;
    font-size: 6vw;
    padding: .5vw;
    z-index: 9999;
  }
  /* .mobile-nav-toggle{
            span {
                display: none;
            }
            position: absolute;
            background: url(/icons/metro-menu.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 4vw;
            height: 3vh;
            top: 1vh;
            right: 3vw;
            z-index: 0;
            border: 0;
            font-size: 15px;
           

            

        }

        .mobile-nav-off{
            span {
                display: none;
            }
            position: absolute;
            background: url(/icons/material-close.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 4vw;
            height: 3vh;
            top: 1vh;
            right: 3vw;
            z-index: 9999;
            border: 0;
            font-size: 15px;
          

            

        } */
  .navbar .nav {
    width: auto;
    position: fixed;
    inset: 0 0 0 63%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4vw  0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .navbar .nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 18vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vh 0 1vh 0;
    -webkit-transition: 0s;
    transition: 0s;
  }
  .navbar .nav li:hover {
    background-color: rgba(0, 0, 0, 0.856);
  }
  .navbar .nav a {
    font-size: 2vw;
    color: #ebebeb;
    width: 100%;
  }
  .navbar .nav a:hover {
    font-weight: bold;
  }
  #check:checked ~ .navbar .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #check:checked ~ label #btn {
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .hero .logo-scritta {
    top: 3vw;
  }
  .hero .logo-scritta img {
    z-index: auto;
    height: 10vw;
  }
  .hero .icons-top {
    position: absolute;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
        grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    top: 9.5vw;
    z-index: 0;
  }
  .hero .icons-top a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .icons-top svg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2vw;
    z-index: auto;
  }
  @supports ((-webkit-backdrop-filter: blur(9px)) or (backdrop-filter: blur(9px))) {
    .navbar .nav {
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-backdrop-filter: blur(9px);
              backdrop-filter: blur(9px);
    }
    .navbar .nav li:hover {
      -webkit-backdrop-filter: blur(1px);
              backdrop-filter: blur(1px);
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

@media (orientation: portrait) {
  .navbar .nav {
    width: auto;
    position: fixed;
    inset: 0 0 0 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 5vh 0 0 0;
  }
  .navbar .nav a {
    font-size: 3vw;
    color: #cfcfcf;
    width: 100%;
  }
  .navbar .nav li {
    height: 15vw;
    width: 100%;
  }
  .bio h1, .videos h1, .dates h1, .store h1, .contact h1 {
    font-size: 7vw;
  }
  .bio p, .videos p, .dates p, .store p, .contact p {
    font-size: 2.5vw;
  }
  .hero .logo-scritta {
    top: 2vw;
  }
  .hero .logo-scritta img {
    z-index: auto;
    height: 15vw;
  }
  .hero .icons-top {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    top: 9vw;
  }
  .hero .icons-top svg {
    height: 30px;
  }
  .icons-bot {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .icons-bot svg {
    height: 30px;
  }
}

@media (orientation: portrait) and (max-width: 730px) {
  .contact .buttons-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .contact .buttons-cont a {
    margin: 10px 0 10px 0;
  }
  .contact .buttons-cont .band, .contact .buttons-cont .booking, .contact .buttons-cont .epk {
    width: 45vw;
    height: 8vw;
    border: none;
    background-color: #515151;
    border-radius: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .contact .buttons-cont .band p, .contact .buttons-cont .booking p, .contact .buttons-cont .epk p {
    font-size: 3vw;
    color: #EFEFEF;
  }
  .contact .buttons-cont .band:hover, .contact .buttons-cont .booking:hover, .contact .buttons-cont .epk:hover {
    background-color: black;
    cursor: pointer;
  }
}
/*# sourceMappingURL=index.css.map */