* {margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:before {
	box-sizing: border-box;
}

:root {
    --primary-color: #181717;
    --secondary-color: #494949;
    --text-color:#515151;
}

body {
    background: #cfcfcf;
    background-size: cover;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    z-index: 0;
    
}

#check {
    display: none;
}
label {
    display: none;
}

.navbar {
    

    .nav{
        width: 100%;
        height: 6vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
        background-color: rgba(0, 0, 0, 0.541);
        position: fixed;
        top: 0;
        list-style: none;
        z-index: 100;
        
        
        

        a{
            text-decoration: none;
            color: #d8d8d8;
            font-size: 2vw;
            transition: 0.2s;
        }
        a:hover {
            color: white;
        }
    }
}
 @supports (backdrop-filter: blur(9px)){
     
    .navbar{
        .nav {
            background-color: rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(9px);

            a {
            color: var(--secondary-color);
            
            }
        }
    }
 }

.hero {
    .container{

        

        video {
            width: 100%;
            z-index: 0;
            //object-position: 0px -80px;
            
        }
       
    }   
    .logo-scritta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vw;
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 7vw;
   
        
        img {
            z-index: auto;
            height: 8vw;
        }
              
    }
    .icons-top {
        position: absolute;
        width: 100%;
        display: grid;
        justify-content: center;
        //align-items: center;
        grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
        column-gap: 5px;
        top:  14vw;
        z-index: 0;

        
        a {
            display: flex;
        }
        
        svg {
            justify-content: center;
            //width: 2vw;
            height: 2vw;
            z-index: auto;
        }
        
    }
}

.blur-div {
    color: #1817175b;
    height: 13vw;
    //height: 150px;
    width: 100%;
    position: relative;
    z-index: 0;
    top: -5vw;
    //top: -50px;
}

 @supports (backdrop-filter: blur(25px)) {
    .blur-div {
        color: #181717;
        backdrop-filter: blur(25px);
    }
} 
.bio {
    top: -11vw;
    position: relative;
    z-index: 10;
    width: 100%;
    margin-bottom: 2vw;
    
    
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
    }
    p {
        z-index: 1;
        font-size: 1.5vw;
        //font-size: 30px;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5vw;
        margin-bottom: 2vw;
        text-align: center;
        
    }

}

.divisore1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    position: relative;
    top: -13vw;
    margin-bottom: -13vw;
    filter: invert(0);
    
    img {
        
        z-index: auto;
        width: 100%;
        padding: 5%;
        z-index: 0;
    }
}

.videos {
    
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }
    
    .frame{
        //background-color: #181717;
        display: flex;
        align-items: center;
        justify-content: center;

        iframe {
            height: 35vw;
            width: 66.7vw;
        }
    }

    p {
        z-index: 1;
        font-size: 1.5vw;
        padding-left: 8%;
        padding-right: 8%;
        padding-top:  5.2vw;
        text-align: center;
        a {
            color: rgb(118, 118, 118);
            
        }
           
    }

    

}

.divisore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    
    
    img {
        z-index: auto;
        width: 100%;
        padding: 5%;
        z-index: 0;
    }
}

.dates {


    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }

    .bit {
        width: auto;
        height: auto;
        font-size: 0px;
    }
    

    padding-left: 8%;
    padding-right: 8%;
}

.store {
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }
    padding-left: 8%;
    padding-right: 8%;
    .ecwid {
        background-color: #181717;
        padding: 50px;
        font-size: 0.7vw;
    }

    .insotre {
        max-height: 600px;
    }
}

.contact {
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 0px;
    }

    .buttons-cont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 2%;

        .band, .booking, .epk {
            width: 25vw;
            height: 5vw;
            border: none;
            background-color: #515151;
            border-radius: 50px;
            transition: 0.3s;

            p {
                font-size: 2vw;
                color: #EFEFEF;
            }

        }
        .band:hover, .booking:hover, .epk:hover {
            background-color: black;
            cursor: pointer;
        }
    }

}

.icons-bot {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    //align-items: center;
    grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    z-index: 0;
    
    a {
        display: flex;
    }
    
    svg {
        justify-content: center;
        //width: 2vw;
        height: 2vw;
        z-index: auto;
    }
    
}
.footer {
    background-color: rgb(219, 219, 219);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}


    @media (max-width: 970px) {
        
       label {
            display: flex;
       }

       label #btn, label #cancel {
            position: absolute;
            position: fixed;
            cursor: pointer;
            top: 1vh;
            right: 1vw;
            z-index: 50;
            border: 0;
            transition: all 0.5s ease-in-out;
       }

       label #btn {
           color: #181717;
           padding: 0.5vw;
           font-size: 5vw;
       }

       label #cancel {
           transform: translateX(1000%);
           color: #cfcfcf;
           font-size: 6vw;
           padding: .5vw;
           z-index: 9999;
       }

      


        /* .mobile-nav-toggle{
            span {
                display: none;
            }
            position: absolute;
            background: url(/icons/metro-menu.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 4vw;
            height: 3vh;
            top: 1vh;
            right: 3vw;
            z-index: 0;
            border: 0;
            font-size: 15px;
           

            

        }

        .mobile-nav-off{
            span {
                display: none;
            }
            position: absolute;
            background: url(/icons/material-close.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 4vw;
            height: 3vh;
            top: 1vh;
            right: 3vw;
            z-index: 9999;
            border: 0;
            font-size: 15px;
          

            

        } */

        .navbar {         
            .nav {
                width: auto;
                position: fixed;
                inset: 0 0 0 63%;
                align-items: center;
                justify-content: center;
                padding: 4vw  0 0 0 ; 
                flex-direction: column;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.863);

                transition: all 0.5s ease-in-out;

                transform: translateX(100%);


                li {
                    display: flex;
                    height: 15vh;
                    align-items: center;
                    justify-content: center;
                    padding: 1vh 0 1vh 0;
                    transition: 0s;
                }

                li:hover {
                    
                    background-color: rgba(0, 0, 0, 0.856);
                }
                a {
                    font-size: 2vw;
                    color: #ebebeb;
                    width: 100%;

                    &:hover{
                        font-weight: bold;
                    }
                }

                
                
            }



        }

        #check:checked ~ .navbar .nav {
            transform: translateX(0);
        }

        #check:checked ~ label #btn {
            opacity: 0;
            pointer-events: none;
        }

        #check:checked ~ label #cancel {
            transform: translateX(0%);
        }

        .hero{
        .logo-scritta {
            top: 2vw;
       
            
            img {
                z-index: auto;
                height: 8vw;
            }
                  
        }
        .icons-top {
            position: absolute;
            width: 100%;
            display: grid;
            justify-content: center;
            //align-items: center;
            grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
            column-gap: 5px;
            top:  9.5vw;
            z-index: 0;
    
            
            a {
                display: flex;
            }
            
            svg {
                justify-content: center;
                //width: 2vw;
                height: 2vw;
                z-index: auto;
            }
            
        }
        }

        .bio, .videos, .dates, .store, .contact {
            h1 {
                font-size: 7vw;
            }
            p {
                font-size: 3vw;
            }
        }

        @supports (backdrop-filter: blur(9px)){
            .navbar {
                .nav {

                    background-color: rgba(0, 0, 0, 0.7);
                    backdrop-filter: blur(9px);

                    li:hover {
                    
                        backdrop-filter: blur(1px);
                        background-color: rgba(0, 0, 0, 0);
                    }
    
    
                }
            }
        }
    }

    @media (orientation: portrait) {      

        .navbar {
            .nav {
                width: auto;
                position: fixed;
                inset: 0 0 0 45%;
                align-items: center;
                justify-content: left;
                padding: 5vh 0 0 0 ; 

                a {
                   
                    font-size: 5vw;
                    color: #cfcfcf;
                    width: 100%;
                }

                li {
                    
                    height: 25vw;
                    width: 100%;
                    
                }
            }
        }
        .blur-div {
            color: #1817175b;
            height: 20vw;
            //height: 150px;
            width: 100%;
            position: relative;
            z-index: 0;
            top: -5vw;
            //top: -50px;
        }

        .bio, .videos, .dates, .store, .contact {
            h1 {
                font-size: 7.5vw;
            }
            p {
                font-size: 4vw;
            }
        }

        .hero {

            .logo-scritta {
                top: 2vw;
           
                
                img {
                    z-index: auto;
                    height: 8vw;
                }
                      
            }
            
        .icons-top {
            column-gap: 15px; 
            top: 9vw; 
            svg {
                height: 30px;
            }
        }
        }
        .icons-bot {
            column-gap: 15px;  
            svg {
                height: 30px;
            }
        }



        @media (max-width: 730px) {
           .contact {
            .buttons-cont {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
                padding-bottom: 2%;

                a {
                    margin: 10px 0 10px 0;
                }
        
                .band, .booking, .epk {
                    width: 45vw;
                    height: 8vw;
                    border: none;
                    background-color: #515151;
                    border-radius: 50px;
                    transition: 0.3s;
        
                    p {
                        font-size: 3vw;
                        color: #EFEFEF;
                    }
        
                }
                .band:hover, .booking:hover, .epk:hover {
                    background-color: black;
                    cursor: pointer;
                }
            }
           }


        
        }
}
  