* {margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:before {
	box-sizing: border-box;
}

:root {
    --primary-color: #181717;
    --secondary-color: #515151;
    --text-color:#515151;
}

body {
    background: #cfcfcf;
    background-size: cover;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    z-index: 0;
    
}

.navbar {
    

    .nav{
        width: 100%;
        height: 6vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
        background-color: rgba(0, 0, 0, 0.15);
        position: fixed;
        top: 0;
        list-style: none;
        backdrop-filter: blur(9px);
        z-index: 100;
        
        
        

        a{
            text-decoration: none;
            color: var(--text-color);
            font-size: 2.5vw;
            transition: 0.2s;
        }
        a:hover {
            color: white;
        }
    }
}

.hero {
    .container{
        
        img {
            width: 100%;
            z-index: auto;
            object-fit: cover;
        }

        video {
            width: 100%;
            z-index: auto;
            object-fit: cover;
        }
       
    }   
    .logo-scritta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vw;
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 6vw;
   
        
        img {
            z-index: auto;
            height: 10vw;
        }
              
    }
    .icons-top {
        position: absolute;
        width: 100%;
        display: grid;
        justify-content: center;
        //align-items: center;
        grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
        column-gap: 5px;
        top:  11.5vw;
        z-index: 0;

        
        a {
            display: flex;
        }
        
        svg {
            justify-content: center;
            //width: 2vw;
            height: 2vw;
            z-index: auto;
        }
        
    }
}

.blur-div {
    color: #181717;
    backdrop-filter: blur(25px);
    height: 12vw;
    //height: 150px;
    width: 100%;
    position: relative;
    z-index: 0;
    top: -3vw;
    //top: -50px;
}

.bio {
    top: -11vw;
    position: relative;
    z-index: 10;
    width: 100%;
    margin-bottom: 2vw;
    
    
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
    }
    p {
        z-index: 1;
        font-size: 1.7vw;
        //font-size: 30px;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5vw;
        margin-bottom: 2vw;
        text-align: center;
        
    }

}

.divisore1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    position: relative;
    top: -13vw;
    margin-bottom: -130px;
    
    img {
        
        z-index: auto;
        width: 100%;
        padding: 5%;
        z-index: 0;
    }
}

.videos {
    
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }
    
    .frame{
        //background-color: #181717;
        display: flex;
        align-items: center;
        justify-content: center;

        iframe {
            height: 35vw;
            width: 66.7vw;
        }
    }

    p {
        z-index: 1;
        font-size: 1.7vw;
        padding-left: 8%;
        padding-right: 8%;
        padding-top:  4.7vw;
        text-align: center;    
    }

    

}

.divisore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    
    
    img {
        z-index: auto;
        width: 100%;
        padding: 5%;
        z-index: 0;
    }
}

.dates {
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }

    padding-left: 8%;
    padding-right: 8%;
}

.store {
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 5.2vw;
    }
    padding-left: 8%;
    padding-right: 8%;
    .ecwid {
        background-color: #181717;
        padding: 50px;
    }
}

.contact {
    h1 {
        display: flex;
        justify-content: center;
        z-index: 1;
        font-size: 3vw;
        font-weight: normal;
        padding-bottom: 0px;
    }

    .buttons-cont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 2%;

        .band, .booking, .epk {
            width: 25vw;
            height: 5vw;
            border: none;
            background-color: #515151;
            border-radius: 50px;
            transition: 0.3s;

            p {
                font-size: 2vw;
                color: #EFEFEF;
            }

        }
        .band:hover, .booking:hover, .epk:hover {
            background-color: black;
            cursor: pointer;
        }
    }





}

.icons-bot {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    //align-items: center;
    grid-template-columns: 3.5vw 3.5vw 3.5vw 3.5vw 3.5vw;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    z-index: 0;
    
    a {
        display: flex;
    }
    
    svg {
        justify-content: center;
        //width: 2vw;
        height: 2vw;
        z-index: auto;
    }
    
}
.footer {
    background-color: rgb(219, 219, 219);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}
/*
@media (orientation: landscape){

}

@media (orientation: portrait) {
    
}

@media (max-width: 1600px) {
    .hero {

        .logo-scritta {
            height: 100px;
        }
       
    }
}

@media (max-width: 1470px) {
    //.hero {
        
  //  }
}*/